

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019-2020 Company, Inc.</p>
        <p> Tüm hakları saklıdır. </p>
        <p><a color="grey"> ziziartandcraft@outlook.com </a></p>
    </div>
</footer>