
@using ZiziProject.Models
@model IEnumerable<Post>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/newyear10.JPG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>

                                
                            </div>
                           
                        </div>
                    </div>
                   
                </div>
            </div>



        </div>
    </div>
</div>