
@using ZiziProject.Models
@model IEnumerable<Post>


    
<div class="album py-5 bg-light">
    <div class="container">
            <div class="row">
                <div class="card-title">
                    <p><a color=" grey "><h4>Çok şanslısın  @User.Identity.Name, buradaki eserlerimiz satın almak istersen tam şu an indirimdeler. Hadi bizimle iletişime geç ! </h4></a>
                    </p>

                </div>
            </div>
            <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/Yaprak3.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Yaprak"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/Kaktüs1.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Kaktüs"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/mavi gelincik1.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Mavi Gelincik"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/mountain.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Mountain"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/piglet.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Piglet"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/Kent.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Kent"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/kuslar.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Kuşlar"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/image/gemi1.PNG" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" title="Gemi"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">
                            10 x 10 cm çerçevelerde kağıt üzerine sulu boya ve karışık teknik.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p><a class="btn btn-secondary" href="/Home/Iletisim" role="button"> İletişim için DM &raquo;</a></p>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>