
@{
    ViewData["Title"] = "Hikayemiz";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Hikayemiz</h1>

    <h3>Ziziartandcraft, </h3>

    <h4>2019 yılında özel kağıtların farklı temalarla sulu boya sayesinde buluştuğu tasarımları üreten bir girişimdir.</h4>
</div>

