@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h1>ZiziArt&Craft</h1>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/image/slide1.jpeg" class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" /><rect width="100%" height="100%" fill="#777" />

            <div class="carousel-caption text-left">
                <h1><i>Son Eklenenler</i></h1>
                <p>Son eklenenleri görmek için web sitemize göze atın.</p>
                <p><a class="btn btn-lg btn-primary" href="/home/Iletisim" role="button">satın almak için tıklayın</a></p>
            </div>
        </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>İnstagram Adresimiz.</h1>
                    <p>Bizi instagramdan takip edebilirsiniz.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">İnstagram</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/image/newyear1.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" /><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
         
            <h2>Yıldönümü</h2>
            <p>Kağıt üzerine sulu boya ve karışık teknik.10x10cm.</p>
            <p><a class="btn btn-secondary" href="/home/eserler" role="button">Detaylar &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <img src="~/image/newyear3.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140"  /><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
            
            <h2>Yılbaşı</h2>
            <p>Kağıt üzerine sulu boya ve karışık teknik.10x10cm.</p>
            <p><a class="btn btn-secondary" href="/home/eserler" role="button">Detaylar &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/image/deniz1.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140"  /><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
           
            <h2>Doğa</h2>
            <p>Kağıt üzerine sulu boya ve karışık teknik.10x10cm.</p>
            <p><a class="btn btn-secondary" href="/home/eserler" role="button">Detaylar &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->